<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="author" content="Ingo Hark">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

    </style>
    <head>
        <link rel="stylesheet" href="/template/styles.css">
        <title>Groupie Tracker</title>
    </head>
    <body>
       <div class="area">
        <h1 class="title">Artists</h1>
        <div class="container-index" id="container">
            {{ range .}}
            <article id="{{ .ID }}">
                <a href="artist?id={{ .ID }}">
                    <img src="{{ .Image }}" alt="{{ .Name }}">
                </a>
                <div class="text-field">{{ .Name }}</div>
            </article>
            {{ end }}
        </div>
       </div>
    </body>
</html>