<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Ingo Hark">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <title>Artist Page</title>
    </head>
    <body>
        <div class="homepage">
            <a class="homepage" href="/">Back to homepage</a>   
        </div>
        <div class="artist-info">
            <div class="artist-first">
            <h1 class="artist-name">{{.Artist.Name}}</h1>
            <img class="image" src="{{.Artist.Image}}" alt="{{.Artist.Name}} Image">
        </div>
        <br>
        <fieldset class="artist-data">
        <div class="artist-members">
            <h2>Members:</h2>
            <u1>
                {{range .Artist.Members}}
                <li>{{.}}</li>
                {{end}}
            </u1>
        </div>
        <div class="artist-creation">
            <h2>Created in:</h2>
            <p>{{.Artist.CreationDate}}</p>
        </div>
        <div class="artist-debut">

            <h2>First album:</h2>
            <p>{{.Artist.FirstAlbum}}</p>
        </div>
        <div class="artist-tour">
            <h2>Tour dates and locations:</h2>
            <u1>
                {{range $date, $locations := .Relations.DatesLocations}}
                <li>
                    <strong>{{$date}}</strong>
                    <u1 style="list-style-type: none; padding-left: 0;">
                        {{range $locations}}
                        <li style="list-style-type: none; padding-left: 0;">{{.}}</li>
                        {{end}}
                    </u1>
                </li>
                {{end}}
            </u1>
        </div>
    </fieldset>
    </body>
</html>